* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

body {
  height: 100vh;
  background: #101010;
  display: grid;
  place-content: center;
  background: url("./assets>img/pexels-sara-mazin-19896578.jpg") no-repeat center;
  background-size: cover;
}

div {
  width: 400px;
  height: max-content;
  display: grid;
  place-content: center;
  padding: 40px;
  background: linear-gradient(
    45deg,
    rgba(0, 0, 255, 0.212),
    rgba(255, 0, 0, 0.212)
  );
  backdrop-filter: blur(10px);
  border-radius: 20px;
  gap: 32px
}

button{
  height: 40px;
  width: 100px;
  border-radius: 8px;
  background: #10101050;
  border: none;
  transition: .3s;
}

button:hover{
  background-color: #10101090;
  scale: 1.1
}

span{
  font-family: system-ui, -apple-system;
}
