.navbar{
    width: 100vw;
    margin-bottom: 44px;
    position: fixed;
    z-index: 1;
    padding: 16px 0;
    animation: navbar 1s;
    animation-timeline: scroll();
    animation-range-start: view;
}

@keyframes navbar {
    to{background-color: var(--dark-20);}
}

#hamburguer {
    position: absolute;
    height: 100px;
    right: -20px;
}

.Span{
    position: inherit;
    height: 5px;
    width: 40px;
    background-color: #fff;

}

#dois{
    margin-top: 10px;
}

#tres{
    margin-top: 20px;
}

.navbar ul{
    display: flex;
    justify-content: space-evenly;
}

.navbar li{
    list-style: none;
    margin: 0 16px;
}

.navbar a{
    text-decoration: none;
    color: #fff;
}

.navbar a:hover{
    color: var(--primary-color)
}

.navbar > ul > li:nth-child(1) a{
    color: var(--dark-40);
    text-transform: uppercase;
}

.navbar > ul > li:nth-child(1) span{
    color: #fff;
}
.navbar > ul > li:nth-child(1):hover span{
    color: var(--primary-color);
}

.navbar > ul > li:nth-child(1){
    height: max-content
}

.navbar #contato{
    width: max-content;
    margin-left: 0px;
    padding: 0 24px 0px 24px;
    position: relative;
    cursor: pointer;
    transition: all .3s;
}

.navbar:has(#contato:hover){
    background-color: var(--dark-20)
}


.navbar #contato:hover{
    background: var(--dark-20);
    padding: 0 24px 48px 24px;
}

.navbar #contato span{
    position: absolute;
    display: none;
}

.navbar #contato span{
    bottom: 1.75rem;
   }

.navbar #contato span:last-child{
    bottom: .5rem;
   }

.navbar #contato:hover span{
    display: inherit;
}

@media screen and (max-width: 768px) and (orientation: portrait){
    .navbar{
        height: 100dvh;
        background: var(--dark-20);
        width: 50vw;
        left: -50%;
        transition: all .3s;
    }

    .navbar:hover{
        transform: translateX(100%);
    }

    .navbar ul{
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .navbar ul li{
        flex-direction: column;
        height: 100%;
        justify-content: space-evenly;
        
    }

    .navbar ul li:has(a[href="#sobre"]){
       margin-top: 24px;
    }

    #contato {
        padding: 0;
        margin: 0;
    }

    .navbar #contato:hover{
        padding: 0;
    }

    .navbar #contato span{
        bottom: 2.75rem;
        left: 24px
       }
    
    .navbar #contato span:last-child{
        bottom: .5rem;
       }
}