.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  align-items: center;
  color: #fff;
  height: 100vw;
  display: grid;
  
}

.main > span{
  background-color: red;
  color: #101010;
}

.cartao {
  background-color: #fff;
  width: 400px;
  aspect-ratio: 2/1.2;
  border-radius: 16px;
  scale: 2;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  gap: 1px;
  font-size: 1rem;
}

.digit_group {
  display: flex;
}

.change_digit_container {
  position: relative;
  width: 1rem;
  height: 1rem;
  overflow: hidden;
}

.espaco {
  margin: 10px;
}

.change_digit {
  position: absolute;
  inset: 0;
  animation: changeDigit 0.5s 0s 1 forwards;
}

.change_digit_child {
  position: absolute;
  inset: 1rem 0;
}

@keyframes changeDigit {
  to {
    transform: translateY(-1rem);
  }
}
