.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgba(243, 255, 242, 1) 50%,
    var(--dark-50) 50%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main img {
  max-height: 50%;
}

.main form {
  width: 50vw;
  display: flex;

  flex-direction: column;
  padding: 120px;
}

.main form input[type="text"],
.main form input[type="password"] {
  background: var(--dark-40);
  height: 50px;
  border: 1px solid rgba(232, 232, 232, 1);
  padding: 20px;
  border-radius: 4px;
}

.main form input[type="text"]:focus,
.main form input[type="password"]:focus {
  outline: 1px solid var(--dark-50);
  border: none;
}
