.main {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgba(243, 255, 242, 1) 50%,
    var(--dark-50) 50%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main img {
  max-height: 50%;
}

.main form {
  width: 50vw;
  display: flex;
  flex-direction: column;
  padding: 120px;
}

.main form h1 {
  margin-bottom: 24px;
}

.main form input[type="text"],
.main form input[type="password"] {
  background: var(--dark-40);
  height: 50px;
  border: 1px solid rgba(232, 232, 232, 1);
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
  margin: 12px 0;
}

.main form input[type="text"]:focus,
.main form input[type="password"]:focus {
  outline: 1px solid var(--dark-50);
  border: none;
}

.esqueceu {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.esqueceu div {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.esqueceu a {
  color: var(--branch-color);
  text-decoration: none;
}

.conta {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.conta > input {
  margin-top: 24px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  background: var(--branch-color);
  color: var(--dark-50);
}

.conta > input:nth-child(2) {
  background: var(--dark-10);
}

.naoTemConta {
  margin-top: 24px;
  width: 100%;
  display: flex;
  align-items: grid;
  place-content: center;
}

.naoTemConta a {
  color: var(--branch-color);
  text-decoration: none;
}

@media screen and (max-width: 1080px) {
  .main {
    background: var(--dark-50);
    display: grid;
    place-content: center;
  }
  .main img {
    display: none;
  }

  .main form{
    
    padding: 0;
  }
}

