.projetos {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 32px;

}

.siteContainer {
  position: relative;
  height: 400px;
  width: 400px;
  text-align: center;

}

.siteContainer:has(h2:hover) .sites {
  display: inherit;
  
}

.sites {
  position: absolute;
  height: 768px;
  width: max-content;
  transform: scale(0.5);
  transform-origin: top left;

}

.sites svg {
  height: 100%;
}

.sites span {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: rgb(95, 95, 95);
  position: absolute;
  bottom: 20px;
  right: calc(50% - 20px);
  transition: all 0.3s;
  animation: btn 3s 3s infinite forwards;
} 

.sites span:hover{
  animation: none;
    scale: .9; 
  }

  @keyframes btn {
    0%{
      scale: 1;
    }
    50%{
      scale: .9;
    }
    100%{
      scale: 1;
    }
  }
  
.frame {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  width: 51%;
  height: 83%;
  border: none;
}
