@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600&display=swap');
:root{
  --branch-color: #7CA2F4;
  --dark-10: #121214;
  --dark-20: #F3F7FF;
  --dark-30: #ffffff;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Archivo', sans-serif;
}
