:root {
  --primary-color: #70ff00;
  --dark-10: #161616;
  --dark-20: #222222;
  --dark-30: #4f4f4f;
  --dark-40: #828282;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth ;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to right, var(--dark-10), var(--dark-30));
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--dark-20);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #c60ae7, #012aff);
  border-radius: 10px;
}
