:root {
  --primary-color: #70FF00;
  --dark-10: #161616;
  --dark-20: #222222;
  --dark-30: #4F4F4F;
  --dark-40: #828282;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serifs;
  scroll-behavior: smooth ;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(to right, var(--dark-10), var(--dark-30));
  color: #fff;
}
